:javascript
  $(document).ready(function(){
    addExternalLinks();
  });
%div.modal-body{:style=>"padding:10px;"}
  %button.close{ :type=>" button", data: { dismiss:"modal"}} &times;
  %h3
    Names and synonyms:
  %p= embedded_svg(@compound.svg, :title=>"x")
  %p
  %b="SMILES:"
  %p= @smiles
  %br
  %b="InChI:"
  %p= @inchi
  %br
  - cid = @compound.cid
  - if cid
    %b="CID:"
    %p= cid
    %br
  %b="Names:"
  %p{:style=>"padding-left:0.5em;"}
  - if @names !~ /^no names/i
    = @names.join("; ")
  - else
    = @names
  %hr
  %p{:style=>"padding-left:0.5em;"}
    / pubchem link
    - if cid
      %a.btn.btn-primary{:href=>"http://aop.in-silico.ch/cid/#{cid}", :title=>"Link opens in new window.", :alt=>"pubchem read across", :rel=>"external"} PubChem read across 
    - else
      %a.btn.btn-primary{:href=>"http://aop.in-silico.ch/", :title=>"Link opens in new window.", :alt=>"pubchem read across", :rel=>"external"} PubChem read across 
    %i (experimental)
  %br
