%div.modal-body{:style=>"padding:10px;"}
  %button.close{ :type=>" button", data: { dismiss:"modal"}} &times;
  %h3
    Names and synonyms:
  %img.img-responsive{:src=>"#{@compound.uri}/image", :alt=>"Compound image not available", :width=>"300px", :heigth=>"300px", :style=>"float:left;"}
  %p
  %b="SMILES:"
  %p= @smiles
  %br
  %b="InChI:"
  %p= @inchi
  %br
  %b="Names:"
  %p{:style=>"padding-left:0.5em;"}
  - if @names !~ /^no names/i
    = @names.join("; ")
  - else
    = @names
  %hr
  %p{:style=>"padding-left:0.5em;"}
    / pubchem link
    %a.btn.btn-primary{:href=>"http://aop.in-silico.ch/", :title=>"Link opens in new window.", :alt=>"pubchem read across", :rel=>"external"} PubChem read across 
    %i (experimental)
  %br
