:javascript
  $(function() {
    $("#tabs").tabs();
  });

.predictions
  .back
    %h1
      %img{:src=>"/images/arrow_left_float.png", :alt=>"arrow"}
        %a{:href => to('/predict')} New Prediction  

  .overview
    %table{:width=>"100%", :cellspacing=>"1", :id=>"overview"}
      %thead
        %tr
          %caption
            %h2 Prediction Results:
            %i= @identifier
      %tbody
        %tr
          %td{:id=>"compound"}
            %img{:src=>"#{@compound.uri}/image", :alt=>@compound.uri, :width=>"100px"}
          - count=0
          - @predictions.each do |pa|
            - pa.each do |p|
              - p.get
              %td
                %b= @prediction_models[count].title
                - count+=1
                %br
                  = "Result:\n"
                  %b= p.data_entries[0][1]
                %br
                  = "Confidence:\n"
                  = p.data_entries[0][2].round(3)
    
  %script{:src=>"/javascripts/jquery.tablesorter.min.js"}
   
  .results    

    #tabs
      %ul
        - count_m = 0
        - @prediction_models.each do |m|
          - count_m += 1
          %li
            %a{:href => "#results_#{count_m}", :id => "link#{m.title}"}
              = m.title
      - count_rs = 0
      - @predictions.each do |pa|
        - count_rs += 1
        #results{:id=>"#{count_rs}"}
          - pa.each do |p|
            / get prediction OpenTox::Dataset   
            - p.get
            / prepare dataset for neighbours table
            - p.data_entries.shift
            - p.compounds.shift

            :javascript
              $(document).ready(function(){ 
                // call the tablesorter plugin 
                $("table##{count_rs}").tablesorter({
                  // debug for development
                  debug: true,
                  widgets: ['zebra'],
                  // disable first column
                  headers: {0: {sorter: false}},
                  // presort similarity asc
                  sortList: [[2,0]]
                });
              });
            / TODO catch table error if tbody is empty      
            %h3= "Neighbours: "
            %table{:id=>"#{count_rs}", :class=>"tablesorter", :cellspacing=>"1"}
              %thead
                %tr
                  %th
                    = "Compound"
                  %th
                    = "Measured Activity"
                  %th
                    = "Similarity"
              -#%tbody
              - count = 0
              - p.compounds.each do |neighbour_compound|
                %tr
                  %td
                    %img{:src=>"#{neighbour_compound.uri}/image", :alt=>neighbour_compound.uri, :width=>"100px"}
                  %td= p.data_entries[count][0]
                  %td= p.data_entries[count][3].round(3)
                  - count += 1
