.predictions
  .back
    %h1
      %img{:src=>"/images/arrow_left_float.png", :alt=>"arrow"}
        %a{:href => to('/predict')} New Prediction  

  .overview
    %table{:width=>"100%", :cellspacing=>"1", :id=>"overview"}
      %thead
        %tr
          %caption
            %h2 Prediction Results:
            %i= @identifier
      %tbody
        %tr
          %td{:id=>"compound"}
            %img{:src=>"#{@compound.uri}/image", :alt=>@compound.uri, :width=>"100px"}
          - count=0
          - @@predictions.each do |pa|
            - pa.each do |p|
              - p.get
              %td
                %b= @@prediction_models[count].title
                
                %br
                  = "Result:\n"
                  %b= p.data_entries[0][1]
                %br
                  = "Confidence:\n"
                  = p.data_entries[0][2].round(3)
                %br
                %a{:href=> to("/prediction/neighbours/#{count}"), :target=> "neighbours"}
                  %img{:src=>"/images/arrow_down_float.png", :alt=>"arrow"}
              - count+=1
                  
  %iframe{:id=>"neighbours", :name=>"neighbours", :width=>"50%", :height=>"400px", :style=>"float:left; border:0px"}
  %iframe{:id=>"details", :name=>"details", :width=>"50%", :height=>"400px", :style=>"border:0px"}
                  
            
