.predictions
  .back
    %h1
      %img{:src=>"/images/arrow_left_float.png", :alt=>"arrow"}
        %a{:href => to('/predict')} New Prediction  

  .overview
    %table{:width=>"100%", :cellspacing=>"1", :id=>"overview"}
      %thead
        %tr
          %caption
            %h2 Prediction Results:
            %i= @identifier
      %tbody
        %tr
          %td{:id=>"compound"}
            %img{:src=>"#{@compound.uri}/image", :alt=>@compound.uri, :width=>"100px"}
          - count=0
          - @@predictions.each do |pa|
            - pa.each do |p|
              - p.get
              %td
                %b= @@prediction_models[count].title
                
                %br
                  = "Result:\n"
                  %b= p.data_entries[0][1]
                %br
                  = "Confidence:\n"
                  = p.data_entries[0][2].round(3)
                %br
                %a{:href=> "#tabs", :id=>"link#{count}"}
                  %img{:src=>"/images/arrow_down_float.png", :alt=>"arrow"}
                  :javascript
                    $("a#link#{count}").click(function () {
                      $(".results").toggle();
                      document.getElementById('tabs').focus();
                      $("#tabs").tabs({ active: "#{count}" });
                    });
              - count+=1
  
  = haml :neighbours, :layout => false                
            
