%div.card
  %a.btn.btn-outline-info{:href => "//#{$host_with_port}/predict"}
    %span.fa.fa-caret-left{:aria=>{:hidden=>"true"}}
    New Prediction
%div.card.bg-light{:id=>"uploadDataset"}
  %div.card-body
    %h3.card-title="Processing file #{@filename} to dataset."
    %img.h2{:src=>"/images/wait30trans.gif", :id=>"circle_upload", :class=>"circle", :alt=>"processing"}
    :javascript
      $(document).ready(function() {
        var aClient = new HttpClient();
        aClient.post('//#{$host_with_port}/predict', 'models=#{@models}&batchfile=#{@filename}', function(res1) {
          var contentType = res1.getResponseHeader('content-type');
          if (contentType == "application/json"){
            var response = JSON.parse(res1.responseText);
          } else {
            var response = res1.responseText;
          }
          if (res1.status == 200 && response['models'] && response['dataset_id']){
            aClient.post('//#{$host_with_port}/predict', 'models='+response['models']+'&dataset_id='+response['dataset_id'], function(res2) {
              $("body").html(res2.responseText);
            });
          }
          if (res1.status == 200 && contentType == "text/html"){
            $("body").html(response);
          }
        });
      });
